<!DOCTYPE html>
<html lang="en">
<head>
    
    <title> Registration Form</title>
</head>
<body>
    <p>Let's get Registered</p>

    <div class="centered">
        <form action="/submit" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
            <br>
            <label for="email"> Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Your Email">
            <br>
            <label for="password"> Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Your Password">
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <a href="data"><button>View Data</button> </a>
    </div>

</body>
<style>
    
    p {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .centered {
        margin: auto;
        width: 50%;
        border: 2px solid;
        padding: 15px;
    }
</style>
</html>